.PlaylistItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
    padding: 10px 0;
    gap: 10px;
}

.PlaylistItem:hover {
    background-color: rgba(1, 12, 63, 0.7);
    cursor: pointer;
}

.cover {
    width: 64px;
    height: 64px;
    margin-right: 0px;
    float:left;
    position:relative;
}